<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.droppages.pedrohenrique.meubanco">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logobank"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Atividade para login de usuario -->
        <activity
            android:name=".Login"
            android:label="@string/titulo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Cadastro de usuario -->
        <activity
            android:name=".Cadastrar"
            android:label="@string/titulo" />

        <!-- Atividade principal -->
        <activity
            android:name=".MainActivity"
            android:label="@string/titulo" />

        <activity android:name=".DetalhesDaConta" />

        <!-- Atualizar dados dos bancos -->
        <activity android:name=".UpdateBanco" />

        <!-- Atualizar dados das moviemntações -->
        <activity android:name=".UpdateMovimentacao" />
    </application>

</manifest>